<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title>Angular Practice</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
	
</head>
<body>

	
	<script type="text/javascript" src="./controllers.js"></script>
	
	
	<div ng-controller="MyController">
	 	<h1>Simple App</h1>
	 	<h2>Fille in Information</h2>
	 	
	 	Full Name:<input type="text" ng-model="fullName"><p>
	 	Email: <input type="text" ng-model="email"><p>
	 	Age: <input type="text" ng-model="age"><p>

	 	<button ng-click="addUser()">Add User</button>
	 	<button ng-click="deleteUser()">Delete User</button>
	 	<button ng-click="getAllUsers()">GetAllUsers</button><p>
	 	
	 	<!-- Listing all current entries in database -->


	 	<ul ng-repeat="u in users">
	 		<li>EMAIL: {{u.email}}</li>
	 		<li>FULL-NAME:{{u.full_name}}</li>
	 		<li>Age: {{u.age}}</li>
	 	</ul>
	 	<p>
	 	<p>
	 	DEBUGGING/RESPONSE: {{serverResponse}}
	</div>

</body>
</html>
